<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Add Customer</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment = "addCustomer">
            <div id = "addCustomer" class = "modal fade">
                <div class = "modal-dialog modal-lg">
                    <div 
                </div>
            </div>
        </section>