<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Edit Customer</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editCustomer">
            <form th:action="@{/save}" th:object="${customer}"
                  method="POST" class="was-validated">
                <input type="hidden" name="customerId" th:field="*{customerId}"/>
                <section th:replace="layout/editButtons :: editButtons"></section>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{action.edit}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="name">[[#{customer.name}]]</label>
                                            <input type="text" class="form-control" name="name" 
                                                   required="true" th:field="*{name}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>