<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>timetotrack</title>
    </head>
    <body>
        <header th:replace = "layout/template :: header"></header>
        <section th:replace = "layout/addButton :: addButton"></section>
        <section th:replace = "layout/addCustomer :: addCustomer"></section>
        <footer th:replace = "layout/template :: footer"></footer>
    </body>
</html>